html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}
.app-main{
  padding-left: 20px;
}
.app-footer{
  margin-top: 3em;
}
.app-text-big{
  font-size: 1.4em;
  line-height: 1.5em;
}
.app-home-sponsor-img{
  height: 70px;
  margin: 10px;
}
.app-search-field{
  margin-right: 3em;
}
.app-search-show{
  max-width: 250px;
}
.app-search-paginator{
  width : 100px;
  margin:auto;
}
/*FIXME : use palette color !!*/
.app-detail-topic{
    font-size: 1.2em;
    line-height: 1.6em;
}
.app-detail-comment, .app-detail-reference{
  font-size: 0.9em;
  font-style: italic;
}
.app-detail-topic-label{
    font-weight: bold;
    color:rgb(63, 81, 181);
}

@media only screen and (min-width: 1024px){
  /* For portrait layouts only */
  .app-main{
    margin-left: 252px;
  }
}
